<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <!-- <link rel="stylesheet" href="/static/css/vis-network.min.css"> -->
  
  <link rel="stylesheet" href="//at.alicdn.com/t/font_6m5pnmufekdtpgb9.css">
  <link rel="stylesheet" href="/static/css/basic.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>

<div class="cai-header">
  <!--<span class="fl" style="margin-left: 20px; font-size: 16px; width: 163px; text-align: left;">站在巨人的肩膀</span>-->
  <span style="display: inline-block; width: 192px;">en taro zeratul</span>
  <!--<span class="fr" style="margin-right: 20px; font-size: 16px;">八云哲学体系</span>-->
</div>
<div class="cai-body-container">
  <div class="cai-body-header">
    <div class="cai-body-header-info">
        <span class="bui-label">当前上下文：</span>
        <span class="cai-origin-cept-name"></span>
    </div>
    <div class="cai-body-header-toolbar">
      <input type="text" name="search_concept" placeholder="输入概念名称以检索">
      <div class="op-wrap"><i class="iconfont icon-search op-search"></i></div>
    </div>
  </div>
  <div class="cai-body-main">
    <div id="mynetwork" class="cai-cept-structure"></div>
    <div class="cai-cept-detail">
      <input class="hidden-cid" type="hidden" name="cid">
      <div class="cai-row cai-cept-detail-name">
        <span class="bui-label">概念名称：</span>
        <span class="cai-cept-name"></span>

        <div class="bui-fr op-wrap">
          <i class="bui-dn iconfont icon-editor op-edit"></i>
          <i class="iconfont icon-add op-add-ctx"></i>
          <i class="iconfont icon-addition op-create"></i>
        </div>
      </div>
      <div class="cai-row cai-cept-detail-desc">
        <span class="bui-label">概念描述：</span>
        <textarea class="cai-cept-desc" disabled="true"></textarea>
      </div>
    </div>
  </div>
  <div id="cept_list_container" class="cept-list-container">
    <ul>
      <li v-for="item in list" class="item" v-on:click="refreshOriginConcept(item.name)"><span v-text="item.name"></span></li>
    </ul>
  </div>
</div>

<div class="cai-popup-mask"></div>

<div id="cai_create_cept-popup" class="cai-popup-wrap">
  <input class="hidden-cid" type="hidden" name="cid">
  <div class="cai-cept-create">
    <div class="cai-row cai-field-name">
      <label class="bui-label">概念名称：</label>
      <input class="val" type="text" name="name">
    </div>
    <div class="cai-row cai-field-desc">
      <label class="bui-label">概念描述：</label>
      <textarea maxlength="600" class="val"></textarea>
    </div>
    <div class="cai-row cai-cept-op">
      <div class="cai-btn ok">保存</div>
      <div class="cai-btn cancel">取消</div>
    </div>
  </div>
</div>

<div id="cai_create_ctx-popup" class="cai-popup-wrap">
  <input class="hidden-cid" type="hidden" name="cid">
  <div class="cai-ctx-create">
    <div class="cai-row cai-field-name">
      <label class="bui-label">概念名称：</label>
      <input class="val" type="text" name="name">
    </div>
    <div class="cai-row cai-cept-op">
      <div class="cai-btn ok">保存</div>
      <div class="cai-btn cancel">取消</div>
    </div>
  </div>
</div>

<script src="/static/js/vis.min.js"></script>
<script>

$(function () {
  var vm = new Vue({
    el: '#cept_list_container',

    data() {
      return {
        list: []
      }
    },

    methods: {
      refreshOriginConcept: function (name) {
        searchConcept(name);
      }
    },

    mounted: function () {
      var self = this;
      $.ajax({
          type: 'get',
          dataType: 'json',
          contentType: 'application/json',
          url: '/api/getAllCept'
      }).done(function (ret) {
        self.list = ret;
      }).fail(function (jqXHR, textStatus) {
          // Not 200:
          alert('Error: ' + jqXHR.status);
      });
    }

  });
}());
</script>

<script type="text/javascript">

  var originCid = 0;
  var originConceptDetail = {};
  var container = document.getElementById('mynetwork');
  var network = new vis.Network(container, {}, {});
  var ceptCreatePopup = new CeptCreatePopup();
  var ctxCreatePopup = new CtxCreatePopup();

  $('.cai-body-header-toolbar .op-search').on('click', function() {
    searchConcept($("input[name='search_concept']").val());
  });

  $('.cai-cept-detail .op-create').on('click', function() {
    ceptCreatePopup.show();
  });

  $('.cai-cept-detail .op-edit').on('click', function() {
    var cid = $('.cai-cept-detail .hidden-cid').val();
    if (cid > 0) {
      var config = {
        cid: cid,
        name: $('.cai-cept-detail .cai-cept-name').html(),
        description: $('.cai-cept-detail .cai-cept-desc').html()
      }
      ceptCreatePopup.show(config, refreshDetail);
    } else {
      alert('no selected concept...');
    }
  });

  $('.cai-cept-detail .op-add-ctx').on('click', function() {
    var cid = $('.cai-cept-detail .hidden-cid').val();
    if (cid > 0) {
      ctxCreatePopup.show(cid, refreshConcept);
    } else {
      alert('no selected concept...');
    }
  });

  function searchConcept(query) {
    $.ajax({
        type: 'get',
        dataType: 'json',
        contentType: 'application/json',
        url: '/api/getCeptByQuery/query/' + query
    }).done(function (ret) {
      if (ret && ret.id > 0) {
        refreshConcept(ret.id);
      }
    }).fail(function (jqXHR, textStatus) {
        // Not 200:
        alert('Error: ' + jqXHR.status);
    });
  }

  function refreshConcept(cid) {
    originCid = cid;
    if (!cid) {
      refreshOriginDetail({});
      refreshDetail({});
      refreshContext({}, {});
      return 0;
    }

    network = new vis.Network(container, {}, {});
    $.ajax({
        type: 'get',
        dataType: 'json',
        contentType: 'application/json',
        url: '/api/getCeptById/' + cid
    }).done(function (ret) {
      refreshOriginDetail(ret.detail);
      refreshDetail(ret.detail);
      refreshContext(ret.ctx, ret.ctxInfoList);
    }).fail(function (jqXHR, textStatus) {
        // Not 200:
        alert('Error: ' + jqXHR.status);
    });
  }

  function refreshContext(conceptContext, ctxInfoList) {
    network.off("doubleClick");
    network.off("click");

    if (conceptContext && conceptContext.length > 0) {
      var nd = {};
      var edgesData = [];
      for (var i = 0; i < conceptContext.length; i++) {
        var item = conceptContext[i];
        nd[item.cid] = 1;
        nd[item.context_concept_id] = 1;
        edgesData.push({
          from: item.cid,
          to: item.context_concept_id,
          arrows:'to'
        });
      }
      var nodesData = [];
      for (var key in nd) {
        nodesData.push({id: key, label: ctxInfoList[key]});
      }
      network = new vis.Network(container, {nodes: new vis.DataSet(nodesData), edges: new vis.DataSet(edgesData)}, {});
    } else {
      network = new vis.Network(container, {}, {});
    }

    network.on("doubleClick", function (params) {
      if (params.nodes.length > 0) {
        // refreshConcept(parseInt(params.nodes[0]));
      } else if (params.edges.length > 0) {
        var ns = network.getConnectedNodes(params.edges[0]);
        if (ns[0] == originCid) {
          removeCtx(ns[1]);
        }
      }
    });

    network.on("click", function (params) {
      if (params.nodes.length > 0) {
        var cid = parseInt(params.nodes[0]);
        var options = {
          scale: 1.0,
          offset: {x:0, y:0},
          animation: {
            duration: 1000,
            easingFunction: "easeInOutQuad"
          }
        };
        network.focus(cid, options);

        $.ajax({
            type: 'get',
            dataType: 'json',
            contentType: 'application/json',
            url: '/api/getCeptDetailById/' + cid
        }).done(function (ret) {
          if (ret && ret.id > 0) {
            refreshDetail(ret);
          }
        }).fail(function (jqXHR, textStatus) {
            // Not 200:
            alert('Error: ' + jqXHR.status);
        });
      }
    });
  }

  function refreshOriginDetail(detail) {
    if (detail.id > 0) {
      $('.cai-origin-cept-name').html(detail.name);
    }
  }

  function refreshDetail(detail) {
    if (detail.id > 0) {
      $('.cai-cept-detail .hidden-cid').val(detail.id);
      $('.cai-cept-detail .cai-cept-name').html(detail.name);
      $('.cai-cept-detail .cai-cept-desc').html(detail.description);
    }
  }

  // add concept context
  // $('.cai-add-concept-context .item.add').on('click', function() {
  //   var name = $("input[name='concept_name']").val();
  //   $.ajax({
  //       type: 'post',
  //       dataType: 'json',
  //       contentType: 'application/json',
  //       url: '/api/addCtx',
  //       data: JSON.stringify({cid: originCid, name: name})
  //   }).done(function (ret) {
  //       if (ret.id > 0) {
  //         refreshConcept(originCid);
  //       }
  //   }).fail(function (jqXHR, textStatus) {
  //       // Not 200:
  //       alert('Error: ' + jqXHR.status);
  //   });
  // });

  function removeCtx(ccid) {
    $.ajax({
        type: 'post',
        dataType: 'json',
        contentType: 'application/json',
        url: '/api/removeCtx',
        data: JSON.stringify({cid: originCid, ccid: ccid})
    }).done(function (ret) {
      refreshConcept(originCid);
    }).fail(function (jqXHR, textStatus) {
        // Not 200:
        alert('Error: ' + jqXHR.status);
    });
  }

  // update concept
  $('.cai-concept-toolbar .item.save').on('click', function() {
    var name = $('.cai-concept-name .val').val();
    var description = $('.cai-concept-desc .val').val();

    if (originCid > 0) {
      $.ajax({
          type: 'post',
          dataType: 'json',
          contentType: 'application/json',
          url: '/api/updateCept',
          data: JSON.stringify({cid: originCid, description: description})
      }).done(function (ret) {
        if (ret[0]) {
          alert('done');
        }
      }).fail(function (jqXHR, textStatus) {
          // Not 200:
          alert('Error: ' + jqXHR.status);
      });
    } else {
      $.ajax({
          type: 'post',
          dataType: 'json',
          contentType: 'application/json',
          url: '/api/createCept',
          data: JSON.stringify({name: name, description: description})
      }).done(function (ret) {
        if (ret.id) {
          alert('created');
          refreshConcept(ret.id);
        }
      }).fail(function (jqXHR, textStatus) {
          // Not 200:
          alert('Error: ' + jqXHR.status);
      });
    }
  });

  refreshConcept(originCid);

  function CeptCreatePopup() {
    var self = this;
    self.container = $('#cai_create_cept-popup');
    self.mask = $('.cai-popup-mask');
    self.callback = null;

    self.container.find('.cancel').on('click', function() {
      self.close();
    });

    self.container.find('.ok').on('click', function() {
      self.save();
    });

    this.show = function (config, cb) {
      self.callback = cb;
      if (typeof config === 'object') {
        self.container.find('.hidden-cid').val(config.cid);
        self.container.find('.cai-field-name .val').val(config.name);
        self.container.find('.cai-field-desc .val').val(config.description);
        self.container.find('.cai-field-name .val').attr('disabled', true);
      } else {
        self.container.find('.cai-field-name .val').attr('disabled', false);
      }

      self.mask.show();
      self.container.show();
    }

    this.save = function () {
      var cid = self.container.find('.hidden-cid').val();
      var name = self.container.find('.cai-field-name .val').val();
      var description = self.container.find('.cai-field-desc .val').val();
      if (cid > 0) {
        $.ajax({
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            url: '/api/updateCept',
            data: JSON.stringify({cid: cid, description: description})
        }).done(function (ret) {
          if (ret[0]) {
            self.callback && self.callback({id: cid, name: name, description: description});
            self.close();
          }
        }).fail(function (jqXHR, textStatus) {
            // Not 200:
            alert('Error: ' + jqXHR.status);
        });
      } else {
        $.ajax({
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            url: '/api/createCept',
            data: JSON.stringify({name: name, description: description})
        }).done(function (ret) {
          if (ret.id) {
            self.close();
            location.href = location.href;
          }
        }).fail(function (jqXHR, textStatus) {
            // Not 200:
            alert('Error: ' + jqXHR.status);
        });
      }
    }

    this.close = function () {
      self.container.find('.hidden-cid').val("");
      self.container.find('.cai-field-name .val').val("");
      self.container.find('.cai-field-desc .val').val("");
      self.container.hide();
      self.mask.hide();
    }
  };

  function CtxCreatePopup() {
    var self = this;
    self.container = $('#cai_create_ctx-popup');
    self.mask = $('.cai-popup-mask');
    self.callback = null;
    self.model = {
      cid: 0
    }

    self.container.find('.cancel').on('click', function() {
      self.close();
    });

    self.container.find('.ok').on('click', function() {
      self.save();
    });

    this.show = function (cid, cb) {
      self.model.cid = cid;
      self.callback = cb;
      self.mask.show();
      self.container.show();
    }

    this.save = function () {
      var name = self.container.find('.cai-field-name .val').val();
      $.ajax({
          type: 'post',
          dataType: 'json',
          contentType: 'application/json',
          url: '/api/addCtx',
          data: JSON.stringify({cid: self.model.cid, name: name})
      }).done(function (ret) {
          if (ret.id > 0) {
            self.callback && self.callback(self.model.cid);
            self.close();
          }
      }).fail(function (jqXHR, textStatus) {
          // Not 200:
          alert('Error: ' + jqXHR.status);
      });
    }

    this.close = function () {
      self.container.find('.cai-field-name .val').val("");
      self.container.hide();
      self.mask.hide();
    }
  };

</script>

</body>
</html>
