html, body {
    margin: 0;
    padding: 0;
}

body {
	background-color: #EAEBEC !important;
}

::-webkit-scrollbar {
	width: 0px
}

.cai-header {
    width: 100%;
    height: 60px;
    /* position: fixed; */
    top: 0;
    line-height: 60px;
    background-color: #333c47;
    color: #fff;
    font-size: 24px;
    text-align: center;
    /* opacity: 0.8; */
    // z-index: 10086;
}

.bui-dn {
	display: none;
}

.bui-fr {
	float: right;
}

.bui-btn-op {
	margin-right: 10px;
	max-width: 120px;
	height: 20px;
	text-align: center;
	padding: 0 8px;
	cursor: pointer;
	background-color: green;
	color: #fff;
}

.bui-label {
	color: #999;
}