.bui-fr {
	float: right;
}

.bui-btn-op {
	margin-right: 10px;
	max-width: 120px;
	height: 20px;
	text-align: center;
	padding: 0 8px;
	cursor: pointer;
	background-color: green;
	color: #fff;
}

.bui-label {
	color: #999;
}