html, body {
	width: 100%;
	height: 100%;
}

.cai-body-container {
	width: 100%;
	height: 100%;
}

.iconfont {
	cursor: pointer;
}

.cai-full-network {
	width: 100%;
	height: 100%;
}

.cai-cept-search-box {
	position: fixed;
	top: 70px;
	width: 240px;
	height: 30px;
	line-height: 30px;
	left: 50%;
	margin-left: -110px;
}

.cai-cept-search-box input {
	height: 24px;
	width: 200px;
	padding-left: 10px;
}

.cai-cept-search-box .iconfont {
	vertical-align: middle;
}

.cai-origin-cept-name {
	position: fixed;
	left: 20px;
	top: 70px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}

.cai-cept-detail {
	position: fixed;
	width: 280px;
	height: 100%;
	padding: 10px 20px;
	background-color: #24292e;
	opacity: 0.6;
	top: 60px;
	right: 0;
	color: #fff;

	// transition: transform 3s;
	// transition-property: transform;
	// transition-duration: 3s;
	// transition-timing-function: initial;
	// transition-delay: 3s;
	// transform: translate(-320px, 0);
}

.cai-cept-detail.cai-folder {
	transition: transform .3s;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: initial;
	transition-delay: initial;
	transform: translate(320px, 0);
}

.cai-cept-detail-desc .cai-cept-detail-name {
	height: 60px;
	line-height: 60px;
	overflow: hidden;
}

.cai-cept-detail-desc .cai-cept-desc {
	width: 280px;
    border: 0;
    margin-top: 10px;
    padding: 0;
    background-color:transparent;  
    /*scrollbar-arrow-color:yellow;  
    scrollbar-base-color:lightsalmon;  
    overflow: hidden;*/  
    // color: #666464;  
    color: #fff;
    height: 350px;
    resize : none;
    vertical-align: top;
    font-size: 14px;
}