.cai-concept-toolbar {
	width: 100%;
	height: 24px;
	margin-bottom: 20px;
}

.cai-concept-toolbar .item, .cai-concept-detail-container .item {
	float: right;
	width: 60px;
	height: 24px;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	background-color: green;
}

.cept-list-container .item {
	display: inline-block;
	max-width: 120px;
	margin: 10px;
	padding: 0 8px;
	background-color: gray;
	cursor: pointer;
	color: #fff;
	list-style-type: none;
}

.cai-concept-structure {
	position: absolute;
	width: 48%;
	height: 400px;
	left: 0;
}

.cai-concept-detail-container {
	position: absolute;
	width: 48%;
	height: 400px;
	right: 0;
}